.samplescard {
    min-height: 536px;
    padding: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    background: rgba(18, 9, 10, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(18, 9, 10, 0.3);
  }
  .samplescard > h1 {
    font-family: "Blinker", "Roboto", "Courier New", Courier, monospace;
    font-size: 4rem;
  }
  .samplescard > h2 {
    font-family: "Blinker", "Roboto", "Courier New", Courier, monospace;
    font-size: 3rem;
  }
  .samplescard > * {
    padding: 20px;
  }
  .samplescard>p{
    font-family: "Abel", "Courier New", Courier, monospace;
    font-size: 1.5rem;
  }